body {
    background-image: url('images/bio.png');
    background-size: contain;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: yellow;
}

#humans {
    position: absolute;
    text-align: center;
    /*    top: -5vh;*/
    line-height: 600%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    mix-blend-mode: multiply;
}

.box {
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    /*    transform: rotate(10deg);*/
    max-width: 200px;
}


#content {
    margin: 1em 1em;
    text-align: center;
    mix-blend-mode: exclusion;
}

h1 {
    font-family: sans-serif;
    font-size: 600%;
    text-shadow: 0px 0px 10px yellow;

}

/* unvisited link */
a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: yellow;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}


p {
    font-family: sans-serif;
    text-shadow: 0px 0px 10px yellow;
    font-size: 1.5em;
    /*
text-shadow: 0 0 7px yellow,
0 0 10px yellow,

0 0 21px #fff,
0 0 42px #0fa,

0 0 82px #0fa,
0 0 92px #0fa,
0 0 102px yellow,
0 0 151px #0fa;
*/
}
