html {
    font-family: sans-serif;
    box-sizing: border-box;
}



#text {
    /*    height: 30%;*/
    margin: 0.5em;
}


#image-viewer {
    /*    height: 50%;*/
    margin-top: 0em;
}

#circle {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid orangered;
    background-color: orangered;
    cursor: move;
    z-index: 1;
    top: 45%;
}

/*
#circle:hover {
    background-color: orangered;
}*/

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

img {
    object-fit: contain;
    width: 100%;
    user-select: none;
    /*        margin: 1em 1em;*/
}

#image {
    /*    max-height: 600px;*/
    pointer-events: none;
    margin-top: 0em;
}

/*
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*/

#container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /*    margin: 1em;
    */
}

#container-top {
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

#container-bottom {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}


span {
    position: relative;
    font-size: 2rem;
}

#heading {
    margin: 0.5em;
}

#subtitle {
    margin: 0.5em;
    margin-bottom: 0em;
}

#caption {
    /*    height: 20%;*/
    margin: 1em;
    font-size: 0.8rem;
    font-family: monospace;
    text-align: left;
}
