html {
    font-family: sans-serif;
    box-sizing: border-box;
}

#container {
    position: relative;
    height: 100vh;
}

#text {
    height: 50%;
    margin: 1em;

}

#image-viewer {
    /*    height: 50%;*/
}

#circle {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid orangered;
    background-color: orangered;
    cursor: move;
    z-index: 1;
}

#circle:hover {
    background-color: orangered;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

img {
    object-fit: contain;
    width: 100%;
    object-fit: contain;
    user-select: none;
    /*        margin: 1em 1em;*/
}

#image {
    /*    max-height: 600px;*/
    pointer-events: none;
}



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /*    margin: 1em;
    */
}

span {
    position: relative;
    font-size: 2rem;
}
#heading {
    margin: 1em;
}
