body {
    height: calc(100vh - 3em);
    margin: 1.5em 1.5em;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Literata', serif;
    background-color: antiquewhite;
    letter-spacing: -1px;
}

.container {
    height: 100%;
    text-align: justify;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.article {
    /*    padding: 1em 1em;*/
    height: 100%;
    overflow: scroll;
    transition: all ease 10s;
}

.article:first-child {
    grid-column: span 2;
    grid-column-start: span 2;
    grid-column-end: auto;
}

.article:nth-child(2) {
    grid-row: span 2;
    grid-row-start: span 2;
    grid-row-end: auto;
    writing-mode: vertical-rl;
}

.article:nth-child(3) {
    grid-row: span 3;
    grid-row-start: span 3;
    grid-row-end: auto;
}

.article:nth-child(4) {
    writing-mode: vertical-rl;
    /*    transform: rotate(180deg);*/
    grid-row: span 3;
    grid-row-start: span 3;
    grid-row-end: auto;
}

.article:nth-child(5) {
    grid-row: span 2;
    grid-row-start: span 2;
    grid-row-end: auto;
}

.article:nth-child(6) {
    grid-column: span 1;
    grid-column-start: span 2;
    grid-row: span 2;
    grid-row-start: span 2;
    grid-column-end: auto;
}

/*
.article:nth-child(7) {
    grid-row: span 1;
    grid-row-start: span 2;
    grid-row-end: auto;
    font-size: 25vw;
    line-height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin: auto auto;
    transition: 0;
}
*/

.article:nth-child(7) {
    /*    writing-mode: vertical-rl;*/
    /*    transform: rotate(180deg);*/
    grid-row: span 2;
    grid-row-start: span 2;
    grid-row-end: auto;
}

.body-text {
    display: inline;
}

p {
    display: inline;
    font-size: 110%;
}

h2 {
    margin: 0;
    padding: 0;
    display: inherit;
    font-size: 140%;
    font-style: italic;
    font-weight: 800;
}

.image img {
    position: fixed;
    width: 150px;
    mix-blend-mode: normal;
    transition: all ease 1s;

}


#cabbage {
    top: 15%;
    left: 60%;
}

#potato {
    top: 80%;
    left: 15%;
}

#flower {
    top: 55%;
    left: 95%;
}


html.translated-ltr .article {
    /*    transform: translateX(300px) translateY(200px);*/
    transform: rotateZ(2160deg) rotateY(360deg);
}

html.translated-ltr img {
    filter: opacity(0);
}


.header-text {
    display: flex;
    justify-content: center;
    /*        padding: 0 0;*/
    /*    font-size: 200%;*/
}
